<!DOCTYPE html>
<html>

<head>
    <title>Server Static Website</title>
</head>

<body>
    <center>
        <h1>The Server Operating System:{{ ansible_distribution }} </h1>
        <br>
        <p>The server Hostname: {{ ansible_hostname }}</p>
        <br>
        <p>The admin user: {{ myusername }}</p>
    </center>
</body>

</html>